.AppInput {
  height: 45px;
}

.AppInput label {
  display: flex;
  flex-direction: column;
}

.AppInput label span {
  text-transform: uppercase;
  color: #09f;
  font-size: 0.8em;
  height: 15px;
  letter-spacing: 0.75px;
}

.AppInput label input {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  height: 30px;
  color: #222;
  transition: 0.3s ease-in-out;
}

.AppInput label input:focus {
  border-color: #09f;
  outline: none;
}

.AppInput label input::placeholder {
  color: #ccc;
}
