table.AppTable {
  width: 100%;
  box-shadow: 0 3px 6px rgba(#000, 0.1);
  border-collapse: collapse;

  thead {
    background-color: #09f;

    tr th {
      color: rgba(#fff, $alpha: 0.8);
      text-align: left;
      padding: 7px 10px;
      font-size: 0.8em;
      font-weight: 400;
      letter-spacing: 0.75px;

      &.right {
        text-align: right;
      }
    }
  }

  tbody {
    tr {
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }

      td {
        padding: 7px 10px;
        color: #222;
        &.right {
          text-align: right;
        }
      }
    }
  }

  .actions {
    > *:not(:last-child) {
      margin-right: 5px;
    }
  }
}
